.DS*
*/.DS*
*/*/.DS*
*/*/*/.DS*
*/*/*/*/.DS*
*/*/*/*/*/.DS*
__pycache__
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
*/*/*/*/__pycache__
*/*/*/*/*/__pycache__
/DepthAnythingV2/.idea/
/DepthAnythingV2/checkpoints/
